.summary-info {
  display: flex;
  gap: 16px;
}

.summary-info h4 {
  margin: 0;
}

.summaries-table {
  border-collapse: collapse;
  margin-top: 16px;
}

.summaries-table th {
  padding: 0 16px 0 0;
  text-align: center;
}

.summaries-table th:nth-child(1) {
  display: none;
}

.summaries-table td {
  padding: 0 16px 0 0;
  text-align: right;
}

.summaries-table td:nth-child(1) {
  display: none;
}

.summaries-table td:nth-child(3) {
  text-align: left;
}
