<form class="form-grid" method="POST" action="{{ action }}">
  {{ form.hidden_tag() }}

  {{ form.giver_name.label }}
  {{ form.giver_name(id="giver_name") }}

  {{ form.amount.label }}
  {{ form.amount(id="amount") }}

  {{ form.address.label }}
  {{ form.address(id="address") }}

  {{ form.tel.label }}
  {{ form.tel(id="tel", placeholder="ハイフンなしの数字") }}

  {{ form.note.label }}
  {{ form.note(id="note") }}

  <div class="form-submit">
    <button type="submit">{{ submit_label }}</button>
  </div>
</form>
