<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}香典集計{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p>{{ '[ ' ~ (messages|first) ~ ' ]' }}</p>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock %}
</body>
</html>
