{% extends "base.html" %}

{% block title %}新規作成{% endblock %}

{% block content %}
<h1>新規作成</h1>

<form method="POST" action="{{ url_for('summaries.create') }}">
    {{ form.hidden_tag() }}

    <table>
        <tr>
            <th>{{ form.giver_name.label }}</th>
            <td>
                {{ form.giver_name(size=40) }}<br>
                {% if form.giver_name.errors %}
                    {{ form.giver_name.errors[0] }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>{{ form.amount.label }}</th>
            <td>
                {{ form.amount() }}<br>
                {% if form.amount.errors %}
                    {{ form.amount.errors[0] }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>{{ form.address.label }}</th>
            <td>
                {{ form.address(size=60) }}<br>
                {% if form.address.errors %}
                    {{ form.address.errors[0] }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>{{ form.tel.label }}</th>
            <td>
                {{ form.tel(size=20) }}<br>
                {% if form.tel.errors %}
                    {{ form.tel.errors[0] }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>{{ form.note.label }}</th>
            <td>
                {{ form.note(size=60) }}<br>
                {% if form.note.errors %}
                    {{ form.note.errors[0] }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <button type="submit">送信</button>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
