{% extends "base.html" %}

{% block title %}香典集計{% endblock %}
{% block page_heading %}<h3>香典集計</h3>{% endblock %}

{% block content %}
<form method="GET" action="{{ url_for('summaries.create') }}">
    <span>データを登録する</span>
    <button type="submit">登録</button>
</form>

<br>
<form method="GET" action="{{ url_for('summaries.index') }}">
    <span>集計の一覧を見る</span>
    <button type="submit">見る</button>
</form>

<br>
<form method="POST" action="{{ url_for('summaries.reset_database_route') }}" onsubmit="return confirmReset()">
    {{ form.hidden_tag() }}
    <span>初期状態に戻す　</span>
    <button type="submit">戻す</button>
</form>

<br>
<form method="POST" action="{{ url_for('auth.logout') }}">
    {{ form.hidden_tag() }}
    <span>ログアウトする　</span>
    <button type="submit">終了</button>
</form>
{% endblock %}
