<!DOCTYPE html>
<html lang='ja'>
<head>
		<meta charset='UTF-8'>
		<title>香典集計</title>
</head>
<body>
		<h3>香典集計</h3>

		<table>
				<tr>
						<th>No.</th>
						<th>名前</th>
						<th>金額</th>
						<th>操作</th>
				</tr>
				{% for summary in summaries %}
				<tr>
						<td>{{ summary.id }}</td>
						<td>{{ summary.giver_name }}</td>
						<td>{{ summary.amount }}</td>
						<td>
								<span>
    								<form method='GET' action="{{ url_for('summaries.show', id=summary.id) }}">
									    {{ form.hidden_tag() }}
                      <button type='submit'>詳細</button>
								    </form>
								</span>
						</td>
				</tr>
				{% endfor %}
		</table>
		<br>
		<form method='GET' action="{{ url_for('summaries.create')}}">
        {{ form.hidden_tag() }}
			  <button type='submit'>新規作成</button>
		</form>
</body>
</html>
