{% extends "base.html" %}

{% block title %}編集{% endblock %}
{% block page_heading %}<h3>編集</h3>{% endblock %}

{% block content %}
  {% include "_form.html" with context %}

  <form class="form-row" method="POST" action="{{ url_for('summaries.delete', id=summary.id) }}" onsubmit="return confirmDelete()">
    {{ form.hidden_tag() }}
    <p>データを削除する</p>
    <button type="submit">削除</button>
  </form>

  <form class="form-row" method="GET" action="{{ url_for('summaries.index') }}">
    <p>集計の一覧に戻る</p>
    <button type="submit">戻る</button>
  </form>

  <form class="form-row" method="GET" action="{{ url_for('main.main') }}">
    <p>ホーム画面に戻る</p>
    <button type="submit">戻る</button>
  </form>
{% endblock %}
